<%- include admin_header %>
<div class="mainBlock">


    <div>
        <form class="form-horizontal" role="form" method="post" name = 'add_product'>
            <div class="row">
                <div class="col-md-3"><input type="submit"  class="btn btn-default" value="保存商品" onclick="return check()" id="submit" disabled="true"/></div>
                <div class="col-md-3"><a type="button" class="btn btn-default" href="/add_property?page=add_product">添加属性</a></div>
                <div class="col-md-3"><a type="button" class="btn btn-default" href="/delete_product_property">删除属性</a></div>
                <div class="col-md-3"><input type="reset"  class="btn btn-default" value="取消"/></div>
            </div>
            <table class="table">
                <tr>
                    <td>
                        商品名称：
                        </td>
                    <td>
                        <input type="text"  name="product_name" placeholder="请输入商品名称" size="20" onchange="check_input()">
                    </td>
                    <td>
                        商品数量：</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default">-</button>
                            <input type="text" class="btn btn-default" name="product_number" value="0" size="2" onchange="check_input()">
                            <button type="button" class="btn btn-default">+</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        单价（元）：</td>
                    <td>
                        <input type="text"  name="product_price" placeholder="请输入单价" size="20" onchange="check_input()">
                    </td>
                    <td>
                        单位：</td>
                    <td>
                        <input type="text" name="product_unit" placeholder="请输入单位" size="20" onchange="check_input()">
                    </td>
                </tr>
                <tr>
                    <td>分类：</td>
                    <td>
                        <select name="category">
                            <option value="手机">手机</option>
                            <option value="饮料">饮料</option>
                            <option value="水果">水果</option>
                            <option value="生活用品">生活用品</option>
                            <option value="食品">食品</option>
                        </select>
                    </td>
                    <% try{%>
                    <% new_property.forEach(function(property,index){ %>
                    <td><%= property.name %></td><td><input type="text" name="<%= property.name %>" size="20" value="<%= property.value %>"> </td>
                    <% if(index %2 ==0){%></tr><tr><% }%>
                    <% })%><% }catch (err){}%>
                </tr>

            </table>
            <script>
                function check() {
                    var current_from  = document.add_product;
                    if(current_from.product_name.value == '' ||
                            current_from.category.value == '' ||
                            current_from.product_number.value == 0 ||
                            current_from.product_price.value == '' ||
                            current_from.product_unit.value == '' ){
                        alert("输入有误,请确认!");
                        return false;
                    }
                    current_from.submit();
                }
                function check_input(){
                    var submit=document.getElementById("submit");
                    if(document.add_product.product_name.value ==""||document.add_product.product_number.value ==""||document.add_product.product_unit.value ==""||document.add_product.product_price.value ==""){
                        submit.disabled = true;
                    }
                    else{
                        submit.disabled = false;
                    }
                }
            </script>

        </form>
    </div>


</div>
<%- include admin_footer%>