<%- include admin_header.ejs%>
<div>
    <a href="admin">商品管理</a>>><a href="add_product">添加商品</a>>>删除属性
</div>
<div class="mainBlock text-center">

    <table class="table">
        <tr>
            <td>
                属性名称
            </td>
            <td>
                属性值
            </td>
            <td>
                操作
            </td>
        </tr>

            <% try{%>
            <% propertys.forEach(function(property,index){ %>
        <tr>
            <td><%= property.name %></td>
            <td><input type="text" name="<%= property.name %>" size="20" value="<%= property.value %>"> </td>
            <td><a href="delete_property?property_name=<%= property.name %>">删除</a></td>
        </tr>
            <% })%><% }catch (err){}%>

        
    </table>

</div>



<%- include admin_footer.ejs%>