<%- include header %>
<div id="payment_page">
    <div id="time"></div>
    <h1>购物清单</h1>
    <table class="table table-bordered">
        <tr>
            <td>分类</td>
            <td>名称</td>
            <td>单价（元）</td>
            <td>单位</td>
            <td>数量</td>
            <td>小计</td>
        </tr>
        <% var count = 0,total1 = 0;shops.forEach(function(shop,index){%>
        <tr>
            <td><%= shop.category %></td>
            <td><%= shop.name %></td>
            <td><%= shop.unitPrice %></td>
            <td><%= shop.unit %></td>
            <td><%= shop.num %></td>
            <% if(shop.promotion == "true"){ %>
            <td><%= total1 = (shop.num%3 +parseInt(shop.num/3)*2) * shop.unitPrice %>元
                <%if(shop.num > 2){%>
                (原价：<%= shop.num * shop.unitPrice%>元) <% } %></td>
            <% }else{%>
            <td><%= total1 = shop.num * shop.unitPrice%>元</td>
            <% } %>
        </tr>
        <% count += total1; }) %>
    </table>
    <h1>赠送商品</h1>
    <table class="table table-bordered">
        <tr>
            <td>分类</td>
            <td>名称</td>
            <td>数量</td>
        </tr>
        <% var giveCount = 0; gives.forEach(function(give,index){ %>
        <tr>
            <td><%= give.category %></td>
            <td><%= give.name %></td>
            <td><%= give.num %></td>
        </tr>
        <% giveCount += give.num * give.unitPrice;}) %>

    </table>
    <div class="count">
        <span>总计：<%= count %></span>
        <span>节省：<%= giveCount%></span>
        <a class="btn btn-primary" href="/product_list?pay=pay">确认</a>
    </div>
</div>
<script>
    function time() {
        var	dateDigitToString = function (num) {
            return num < 10 ? '0' + num : num;
        };
        var currentDate = new Date(),
                year = dateDigitToString(currentDate.getFullYear()),
                month = dateDigitToString(currentDate.getMonth() + 1),
                date = dateDigitToString(currentDate.getDate()),
                hour = dateDigitToString(currentDate.getHours()),
                minute = dateDigitToString(currentDate.getMinutes()),
                second = dateDigitToString(currentDate.getSeconds()),
                formattedDateString = year + '年' + month + '月' + date + '日 ' + hour + ':' + minute + ':' + second;
        $('#time').text(formattedDateString) ;
    }
    $(function(){
        time();
          });
</script>

<%- include footer%>