<%- include admin_header %>
<div class="mainBlock">
    <div>
        <form class="form-horizontal" role="form" name="product_detail"  method="post">
            <div class="row">
                <div class="col-md-3"><input type="submit"  class="btn btn-default" value="保存商品" onclick="return check()"/></div>
                <div class="col-md-3"><a type="button" class="btn btn-default" href="detail_add_property?name=<%=this_product.name%>">添加属性</a></div>
                <div class="col-md-3"><a type="button" class="btn btn-default" href="delete_product_property">删除属性</a></div>
                <div class="col-md-3"><a type="button" class="btn btn-default" href="admin">取消</a></div>
            </div>
            <table class="table">
                <tr>
                    <% var sum =0;for (value in this_product){
                    if(sum != 0){%>
                    <td><%= value%></td><td><input type="text" name="<%= value%>" size="20" value="<%= this_product[value] %>"> </td>
                    <% if(sum %2 ==0){%></tr><tr><% }%>
                    <% }sum +=1}%>
                    <% try{%>
                    <% new_property.forEach(function(property,index){ %>
                    <td><%= property.name %></td><td><input type="text" name="<%= property.name %>" size="20" value="<%= property.value %>"> </td>
                    <% if(index %2 ==0){%></tr><tr><% }%>
                    <% })%><% }catch (err){}%>
                </tr>
            </table>

            <script>
                function check() {
                    var current_from  = document.product_detail;
                    if(current_from.product_name.value == '' ||
                            current_from.category.value == '' ||
                            current_from.product_number.value == 0 ||
                            current_from.product_price.value == '' ||
                            current_from.product_unit.value == '' ){
                        alert("输入有误,请确认!");
                        return false;
                    }
                    current_from.submit();

                }
            </script>


        </form>
    </div>

</div>
<%- include admin_footer%>