<%- include header.ejs%>
<div id="shopping_car">
    <table class="table table-bordered">
        <tr>
            <td>分类</td>
            <td>名称</td>
            <td>单价（元）</td>
            <td>单位</td>
            <td>数量</td>
            <td>小计</td>
        </tr>
        <% var count = 0,subtotal = 0; shops.forEach(function(shop,index){%>
        <tr>
            <td><%= shop.category %></td>
            <td><%= shop.name %></td>
            <td><%= shop.unitPrice %></td>
            <td><%= shop.unit %></td>
            <td>
                <div class="btn-group">
                    <a type="button" class="btn btn-default" href="/lessOrMore?flag=less&shopName=<%= shop.name%>">-</a>
                    <button class="btn btn-default"><%= shop.num %></button>
                    <a type="button" class="btn btn-default" href="/lessOrMore?flag=more&shopName=<%= shop.name%>">+</a>
                </div>
            </td>
            <% if(shop.promotion == "true"){ %>
            <td><%= subtotal = (shop.num%3 +parseInt(shop.num/3)*2) * shop.unitPrice %>元(原价：<%= shop.num * shop.unitPrice%>元)</td>
            <% }else{%>
            <td><%= subtotal = shop.num * shop.unitPrice%>元</td>
            <% } %>
        </tr>
        <% count += subtotal; }) %>
    </table>
    <div class="count">
        <span>总计：<%= count %></span>
        <a class="btn btn-primary" href="/payment">付款</a>
    </div>
</div>
</div>
<%- include footer.ejs%>